# Variáveis Northflank (NÃO commitar senhas)
# Service → Environment

SPRING_PROFILES_ACTIVE=postgres
PORT=8080

# Neon — JDBC (precisa do prefixo jdbc:postgresql://)
SPRING_DATASOURCE_URL=jdbc:postgresql://HOST-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=

APP_JWT_SECRET=troque-por-um-segredo-longo-aleatorio
APP_PUBLIC_URL=https://eukevytosdev.github.io/Barberini
APP_SEED_DONO_EMAIL=dono@barberini.com
APP_SEED_DONO_SENHA=dono123
APP_SEED_DONO_NOME=Dono Encaixe
GOOGLE_CLIENT_ID=868389533637-d3l4a0mrnnbf7i1h34cd0mts996sb6pc.apps.googleusercontent.com

# Opcional — quando tiver
# MERCADOPAGO_ACCESS_TOKEN=
# MERCADOPAGO_PUBLIC_KEY=
